<div class="uk-slidenav-position" data-uk-slideshow>
  <ul class="uk-slideshow">
    <li class="uk-flex uk-grid">
      <div class="uk-width-1-2 uk-flex uk-flex-center"><img src="https://render.bitstrips.com/v2/cpanel/8511675-120847775_1-s1-v1.png?palette=1" /></div>
      <div class="uk-width-1-2 uk-flex uk-flex-column uk-flex-center">
        <h1>Hi There!</h1>
        <p>This is a new paragraph</p>
      </div>
    </li>
    <li>
      <div class="uk-width-1-2 uk-flex uk-flex-center">
        <img src="https://render.bitstrips.com/v2/cpanel/8097116-120847775_1-s1-v1.png?palette=1" />
      </div>
    </li>
  </ul>
  <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
  <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
  <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
    <li data-uk-slideshow-item="0"><a href=""></a></li>
    <li data-uk-slideshow-item="1"><a href=""></a></li>
  </ul>
</div>

{{outlet}}
<style>
  .uk-slidenav-position {
    background-color: beige;
    padding: 60px 0;
  }
  .uk-slideshow li img {
    border-radius: 50px;
  }
  h1, h2, h3, h4, h5, p {
    color: #301030;
  }
</style>
