<div class="uk-slidenav-position uk-flex uk-flex-center" data-uk-slideshow>
  <ul class="uk-slideshow">
    <li>
      <div class="uk-width-1-2"><img src="https://render.bitstrips.com/v2/cpanel/8511675-120847775_1-s1-v1.png?palette=1" /></div>
    </li>
    <li><img src="https://render.bitstrips.com/v2/cpanel/8097116-120847775_1-s1-v1.png?palette=1" /></li>
  </ul>
  <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
  <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
  <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
    <li data-uk-slideshow-item="0"><a href=""></a></li>
    <li data-uk-slideshow-item="1"><a href=""></a></li>
  </ul>
</div>

{{outlet}}
